* {
	box-sizing: border-box;
}

/*
Header ------------------------
*/

.header-text {
	position: relative;
	float: right;
	clear: right;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

.name{
	font-size: 20px;
}

.ninja {
	font-size: 15px;
}

hr {
	position: relative;
	background-color: #7d97ad;
	height: 5px;
	width: 100%;
	margin-top: 15px;
}