/*
	Header
*/

.logo {
	width: 40px;
	max-width: 20%;
}

.name{
	font-size: 25px;
}

.ninja {
	font-size: 15px;
}

/*
	Content
*/

.featured-projects {
	text-align: center;
}

.project {
	margin: 20px;
}

.project-image {
	max-width: 100%;
}

.project-name {
	display: block;
	font-size: 30px;
	font-weight: bold;
	width: 100%;
}